<div class="chart-wrapper relative demo-cols" style="display: flex">
  <div
    class="tab-content-panel lhs flex1"
    id="lhs"
    data-tab-group="rhs"
    style="flex-grow: 1"
  >
    <div
      class="toggle-content is-visible"
      id="lhsVisual"
      style="height: calc(100vh - 40px)"
    >
      <kl-components (klReady)="klChartReady($event)">
        <kl-component
          class="flex1"
          klType="chart"
          klContainerClass="klchart klchart-timebar"
          [klOptions]="chartOptions"
          (klEvents)="klChartEvents($event)"
        >
        </kl-component>
      </kl-components>
    </div>
  </div>

  <div class="p-3 select-none rhs">
    <div class="text-xl">Filters:</div>
    <hr />
    @if(isShipmentsShown){
    <div>
      <div class="text-lg">Grouping</div>
      <mat-radio-group
        [(ngModel)]="groupedBy"
        (ngModelChange)="onGroupChange()"
        class="flex flex-col"
      >
        <mat-radio-button value="none">Un Group All</mat-radio-button>
        <mat-radio-button value="customerName">Customer</mat-radio-button>
        <mat-radio-button value="excursion">Excursion</mat-radio-button>
      </mat-radio-group>
    </div>
    }
  </div>
</div>
<div id="tooltip-container"></div>
<template id="tt_html">
  <div id="tooltip"></div>
</template>
